term3:
  colors:
    normalBlack: "#222728"
    normalRed: "#ff72a4"
    normalGreen: "#83ba54"
    normalYellow: "#b9ad00"
    normalBlue: "#80b2d4"
    normalPurple: "#c09cef"
    normalCyan: "#00c1b0"
    normalWhite: "#c4c7c8"
    brightBlack: "#42484a"
    brightRed: "#ff8fbf"
    brightGreen: "#9fd66e"
    brightYellow: "#d7c800"
    brightBlue: "#9ccef0"
    brightPurple: "#dcb7ff"
    brightCyan: "#40ddcc"
    brightWhite: "#e0e3e4"
    background: "#222728"
    foreground: "#c4c7c8"
