term3:
  colors:
    normalBlack: "@melanite-bg1"
    normalRed: "@melanite-red"
    normalGreen: "@melanite-green"
    normalYellow: "@melanite-yellow"
    normalBlue: "@melanite-blue"
    normalPurple: "@melanite-purple"
    normalCyan: "@melanite-cyan"
    normalWhite: "@melanite-fg1"
    brightBlack: "@melanite-bg2"
    brightRed: "@melanite-red-l80"
    brightGreen: "@melanite-green-l80"
    brightYellow: "@melanite-yellow-l80"
    brightBlue: "@melanite-blue-l80"
    brightPurple: "@melanite-purple-l80"
    brightCyan: "@melanite-cyan-l80"
    brightWhite: "@melanite-fg2"
    background: "@melanite-bg1"
    foreground: "@melanite-fg1"
